<plugin name='mandrill' version='0.5' grailsVersion='1.3 &gt; *'>
  <author>Damien Pacaud</author>
  <authorEmail>damien.pacaud@gmail.com</authorEmail>
  <title>Grails Mandrill Plugin</title>
  <description>		This is a simple wrapper for the Mandrill REST API (http://www.mandrillapp.com) 
</description>
  <documentation>https://github.com/dpacaud/mandrill</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>org.grails.mandrill.HttpWrapperService</resource>
    <resource>org.grails.mandrill.MandrillService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>